---
---

@import "{{ site.theme }}";

.page-header{
color:#ffff;
background-color:#A067AB;
background-image:linear-gradient(120deg,#5073B8,#A067AB);
}

//img{
  //float:left;
//}

//h1{
  //  padding-left: 20px;
//}

//h2{
  //padding-left: 20px;
//}
